.btn {
    color: green;
    border-radius: 10%;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;

  }
  